<p>
  <b>Name:</b>
  <%=h @test1.name %>
</p>

<p>
  <b>Age:</b>
  <%=h @test1.age %>
</p>

<p>
  <b>Location:</b>
  <%=h @test1.location %>
</p>


<%= link_to 'Edit', edit_test1_path(@test1) %> |
<%= link_to 'Back', test1s_path %>