<h1>BlogPost#show</h1>
<h2>Title: <b><i><%= @record.title  -%></i></b></h2>
<p>
<%= @record.body  -%>
</p>
<% for category in @record.categories %>
<%= link_to(category.title,category_path(category))%>|
<%end%>
<h3><i>Comments:</i></h3>
<div id ="show_comments">
  <hr></hr>
  <% for comment in @record.comments -%>
  <%= comment.content %><br/>
  <hr></hr>
  <% end -%>
</div>

<!--

<div id ="comment_button">
<%= link_to('New Comment',new_blog_post_comment_path(@record)) -%>
</div>

-->
<div id="comment" style="display:none;">
	<%= form_tag blog_post_comments_path(@record) %>
	<%= text_area_tag :comment,nil,:cols=>"30",:rows=>"5" %><br />
	<%= submit_tag('Comment') %> <a href="#" onclick="$('comment').hide();$('new_comment_link').show();" >Cancel</a>
</div>
<div id="new_comment_link">
<a href="#" onclick="$('comment').show();$('new_comment_link').hide();");>New comment</a> <br />	
</div>
<!--<%= link_to_remote('New comment', :url=> new_blog_post_comment_path(@record) \
, :method => :get, :html => {:id => 'new_comment'})%> <br /> -->

<%= link_to 'Back', blog_posts_path -%>
